.item-repositorio{
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    margin-right: 30px;
}

.card{
    display: block;
}

li:hover{
    cursor: pointer;
    transition: 1s;
    background-color: gray;
    color: black;
    
}

h1, h2, h3:hover{
    cursor: pointer;
}

@media screen and (max-width: 810px) {

    .card{
        margin: 0 auto;
        padding-top: 45px;
    }
}