.header{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    text-align: center;
    display: block;
    border-bottom: 1px solid black;
}


input{
    border: none;
    height: 30px;
    width: 200px;
    color: black;
    position: relative;
}

.logo{
    left: 0;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

